# Backend Server Configuration
BACKEND_PORT=4000

# Snowflake connection
SNOWFLAKE_URL="https://<ACCOUNT_LOCATOR>.snowflakecomputing.com"
SNOWFLAKE_PAT="<YOUR_PERSONAL_ACCESS_TOKEN>"
SNOWFLAKE_WAREHOUSE="<WAREHOUSE_NAME>"

# Cortex Agent resources
SEMANTIC_MODEL_PATH="<PATH_TO_SEMANTIC_MODEL_FILE>"
SEARCH_SERVICE_PATH="<PATH_TO_CORTEX_SEARCH_SERVICE>"
